!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student List</title>
</head>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			url : "/spring-thymeleaf/js",
		});
	});
</script>
<body>
	<h1>Utilisateur List</h1>
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{msg.id}" />
				<th th:text="#{msg.first_name}" />
				<th th:text="#{msg.family_name}" />
				<th th:text="#{msg.gender}" />
				<th th:text="#{msg.Date_Naissance}" />
				<th th:text="#{msg.Mail}" />
				<th th:text="#{msg.PAssword}" />

			</tr>
		</thead>
		<tbody>
			<tr th:each="utilisateur, iStat : ${utilisateur}" th:style="${iStat.odd}? 'font-weight: bold;'" th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${utilisateur.id}" />
				<td th:text="${utilisateur.first_name}" />
				<td th:text="${utilisateur.family_name}" />
				<td th:switch="${utilisateur.gender}"><span th:case="'M'"
					th:text="Male" /> <span th:case="'F'" th:text="Female" /></td>
				<td th:text="${utilisateur.Date_Naissance}" />
				<td th:text="${utilisateur.Mail}" />
				<td th:text="${utilisateur.Password}" />
			</tr>
		</tbody>
	</table>
	<div>
		<p>
			<a th:href="@{/}" th:text="#{msg.Home}" />
		</p>
	</div>
</body>
</html>