<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Creation utilisateur</h1>

<!--<label th:text="'Utilisateurs = ' + ${utilisateurs}"></label>-->
<!--<table border="1">-->
<div class="container">

<!--    <span th:text="${utilisateur.id}"> </span>
    <span th:text="${utilisateur.nom}"> </span>
    <span th:text="${utilisateur.prenom}"> </span>
    <span th:text="${utilisateur.age}"> </span>
    <span th:text="${utilisateur.sexe}"> </span>
    <span th:text="${utilisateur.mail}"> </span>-->

<!--    <table class="table">
        <thead>
        <th>id</th>
        <th>nom</th>
        <th>prenom</th>
        <th>age</th>
        <th>sexe</th>
        <th>mail</th>

        </thead>
        <tbody>
        <tr>
            <td th:text="${utilisateur.id}"/>
            <td th:text="${utilisateur.nom}"/>
            <td th:text="${utilisateur.prenom}"/>
            <td th:text="${utilisateur.age}"/>
            <td th:text="${utilisateur.sexe}"/>
            <td th:text="${utilisateur.mail}"/>


    </table>-->
<!--    <form>-->
    <form action="#" th:action="@{/save}" th:object="${utilisateur}" method="post">
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="number" th:field="*{id}" class="form-control" id="exampleInputId">
        </div>
        <div class="form-group">
            <label for="exampleInputNom">Nom</label>
            <input type="text" class="form-control" th:field="*{nom}" id="exampleInputNom" aria-describedby="WarningNom">
            <small id="WarningNom" class="form-text text-muted">Veuillez renseigner le nom.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPrenom">Prenom</label>
            <input type="text" class="form-control" th:field="*{prenom}" id="exampleInputPrenom" aria-describedby="WarningPrenom" >
            <small id="WarningPrenom" class="form-text text-muted">Veuillez renseigner le prenom.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputAge">Age</label>
            <input type="number" class="form-control" th:field="*{age}" id="exampleInputAge" aria-describedby="WarningAge" >
            <small id="WarningAge" class="form-text text-muted">Veuillez renseigner l'age.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputSexe">Sexe</label>
            <input type="text" class="form-control" th:field="*{sexe}" id="exampleInputSexe" aria-describedby="WarningSexe" >
            <small id="WarningSexe" class="form-text text-muted">Veuillez renseigner le sexe.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputMail">Mail</label>
            <input type="email" class="form-control" th:field="*{mail}"  id="exampleInputMail" aria-describedby="WarningAge">
            <small id="WarningMail" class="form-text text-muted">Veuillez renseigner l'adresse mail.</small>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>